
<ion-view view-title="{{cate.name}}" ng-controller="ProductDetailCtrl">
  <ion-header-bar align-title="center" class="bar-light">
    <ion-nav-bar align-title="center">
      <ion-nav-buttons>
        <button class="button button-clear button-icon" ng-click="goBack()"><i class="ion-chevron-left"></i></button>
      </ion-nav-buttons>
    </ion-nav-bar>
  </ion-header-bar>
  <ion-content class="header-background" scroll="true">
    <!-- <form>
        <div class="product-header" style="background:none;">
            <div style="height:100px; width:100px; background: url({{product.imagePath}}) no-repeat; background-size: cover;"></div>
            <h2 class="product-name">{{product.name}}</h2>
            <div class="product-price">{{product.price}}</div>
            <div class="product-like">
                <button class="button button-clear" ng-click="doLike()">
                    <i class="ion-heart"></i>
                </button>
            </div>
        </div>
        <div class="product-body">
            <div class="product-info">
                {{product.thc}} {{product.cbd}}
            </div>
            <div class="product-quantity">
                <label class="item item-input">
                    <input type="text" placeholder="Enter Quantity Here...">
                </label>
            </div>
            <div class="add-to-cart">
                <button class="button button-block button-balanced" ng-click="doOrder()">
                    Add to Cart
                </button>
            </div>
            <div class="add-to-favorites">
                <button class="button button-block button-dark">
                    Add to Favorites
                </button>
            </div>
        </div>
    </form> -->
    <div class="list card">

      <div class="item item-avatar">
        <img src="{{product.imagePath}}">

        <h2>{{product.name}}</h2>

        <p>{{product.strainInfo.category}}</p>
      </div>
      <div class="item item-image">
        <ion-slide-box>
          <ion-slide>
            <img src="{{product.images[1]}}">
          </ion-slide>
          <ion-slide>
            <img src="{{product.images[0]}}">
          </ion-slide>
        </ion-slide-box>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-heart"></i>
          Favorite
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Review
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
      <div class="item item-divider">
        Availability
      </div>
      <div class="item">
        <strong>Price: </strong> ${{product.pricing[0].Price}} - ${{product.pricing[product.pricing.length-1].Price}}
      </div>
      <div class="item">
        <strong>Available at: </strong>Convention Center, Pearl District
      </div>
      <div class="item item-divider">
        Strain Info
      </div>
      <div class="item">
        <strong>Grown By: </strong> {{product.farm}}
      </div>
      <div class="item">
        <strong>Strain type: </strong> {{product.strainInfo.category}}
      </div>
      <div class="item">
        <strong>THC: </strong> {{product.thc}}
      </div>
      <div class="item">
        <strong>CBD: </strong> {{product.cbd}}
      </div>
      <!--     <img class="center" src="{{product.imagePath}}">
      <p>
        {{product.thc}} {{product.cbd}}
      </p> -->

    </div>
  </ion-content>
</ion-view>
