<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-light">
        <ion-nav-bar align-title="center">
            <ion-nav-buttons>
                <button class="button button-clear button-icon" ng-click="closeModal()" ><i class="ion-close"></i></button>
            </ion-nav-buttons>
        </ion-nav-bar>
    </ion-header-bar>
    <ion-content class="header-background">
        <!-- <form>
            <div class="product-header" style="background:none;">
                <div style="height:100px; width:100px; background: url({{product.imagePath}}) no-repeat; background-size: cover;"></div>
                <h2 class="product-name">{{product.name}}</h2>
                <div class="product-price">{{product.price}}</div>
                <div class="product-like">
                    <button class="button button-clear" ng-click="doLike()">
                        <i class="ion-heart"></i>
                    </button>
                </div>
            </div>
            <div class="product-body">
                <div class="product-info">
                    {{product.thc}} {{product.cbd}}
                </div>
                <div class="product-quantity">
                    <label class="item item-input">
                        <input type="text" placeholder="Enter Quantity Here...">
                    </label>
                </div>
                <div class="add-to-cart">
                    <button class="button button-block button-balanced" ng-click="doOrder()">
                        Add to Cart
                    </button>
                </div>
                <div class="add-to-favorites">
                    <button class="button button-block button-dark">
                        Add to Favorites
                    </button>
                </div>
            </div>
        </form> -->
<div class="list card">

  <div class="item item-avatar">
    <img src="{{product.imagePath}}">
    <h2>{{product.name}}</h2>
    <p>{{product.strainInfo.category}}</p>
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-heart"></i>
      Favorite
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Review
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

  <div class="item">
      <a class="item" href="#">
        <strong>Price: </strong> ${{product.pricing[0].Price}} - ${{product.pricing[product.pricing.length-1].Price}}
      </a>               
      <a class="item" href="#">
        <strong>Available at: </strong>Convention Center, Pearl District
      </a>         
      <a class="item" href="#">
        <strong>Grown By: </strong> {{product.farm}}
      </a>       
      <a class="item" href="#">
        <strong>Strain type: </strong> {{product.strainInfo.category}}
      </a> 
      <a class="item" href="#">
        <strong>THC: </strong> {{product.thc}}
      </a>      
      <a class="item" href="#">
        <strong>CBD: </strong> {{product.cbd}}
      </a>         
    <!--     <img class="center" src="{{product.imagePath}}">
    <p>
      {{product.thc}} {{product.cbd}}
    </p> -->
  </div>
  <div class="item">
    <img item-height="33%" item-width="33%"
         ng-src="{{product.imagePath}}">
  </div>
</div>
    </ion-content>
</ion-modal-view>
