<ion-view view-title="Scan" ng-controller="ScanCtrl">
  <ion-content id="page-scan" class="header-primary" scroll="false">
    <ion-header-bar align-title="center">
      <div class="buttons">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </div>
      <h1 class="title">Scan</h1>
    </ion-header-bar>
    <br>
    <button class="button button-light" style="margin-top:40px;" ng-click="scan()">
      Scan
    </button>
  </ion-content>
</ion-view>

